body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #fff;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(20deg, #a14d51 15%, #bedaf1 85%);
    height: 100vh;
    text-align: center
}

p {
    color: #fff;
    font-family: Shanti;
    font-size: 1.2em;
    margin: 20px;
    text-align: left;
}

input {
    width: 200px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    font-family: Shanti;
    
    font-size: 1.3em;
}

::placeholder {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #503d52;
  }

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.form-group {
    text-align: center;
    display:block;
    float: center;
}

#content ol li{
    display: inline;
}

footer {
    text-align: center;
    padding: 10px;
  }

#login-button, #signup-button, #submit-button {
    background-color: rgb(94, 207, 207);
    margin: 10;
    color: white;
    width: 150px;
}

#course-button {
    background-color: rgb(84, 161, 161);
    margin: 20;
    color: white;
    width: 150px;
    height: 100px;
    display: inline;
}

#login-button:hover, #signup-button:hover, #submit-button:hover, #course-button:hover {
    background-color: #A2C7E5;
    cursor: pointer;
}

#inputMessage {
    width: 500px;
    height: 150px;
    font-family: Shanti;
    font-size: 1.3em;
    padding: 12px 20px;
    /*box-sizing: border-box;*/
    border: none;
    border-radius: 10px;
    background-color: #f8f8f8;
    resize: none;
    margin: 5px;
    text-align: center;
}
