{% extends "base.html" %}
{% block content%}
<h1 class="display-5 fw-bold text-center">About Us</h1>
<p>りんご (Ringo) is a fictional company created by Stef. 
    Our goal is to help users learn Japanese in a fun and easy way.
</p>
<p> Oshiete (おしえて) means "teach me" in Japanese. Thanks to our web application,
    users will learn basic Japanese. From reading to writing, Oshiete is the web application you need to learn!
</p>
<p> The Ringo company plans on extending its products to French. 
    Sign up today to get access to exclusive content!
</p>
{% endblock %}
